.navlinks{
	font-size: 11px;
	font-weight: bold;
	padding: 3% 0% 3% 0%;
	margin-left: 3px;
	margin-right: 3px;

}

.w3-animate-opacity{
	animation-duration: 1.5s;
}

.w3-animate-top{
	animation-duration: 1s;
}

.w3-animate-bottom{
	animation-duration: 1s;
}

.delay{
	animation-delay: 0.2s;
}
.navlinks:hover{
	border-top:5px solid #11016b;
	padding: 2.5% 0% 3% 0%;
	transition: width 2s;
}

.active-n{
	border-top:5px solid #11016b;
	padding: 2.5% 0% 3% 0%;
}

a{
	color:  #11016b;
}

.text{
	top:200px;
	left:10%;
	text-align: left;
}

.pos{
	top: 400px;
}

.mySlides {
	position: absolute;
	display:none;
	width:1850px;
	height: 600px;
	animation-duration: 0.5s;
}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.third-part{
	background-color: #e4eaf7;
	width: 100%;
	height:566px;
	padding: 60px 0px 90px 0px;
}

.col-sm-3{
	padding-bottom: 90px;
}

.icon{
	width:100px;
	padding-left:30px;
	padding-top: 30px;
	padding-bottom:20px;
	color: #6d6d6d !important;
	border-left: 5px solid  #11016b;
	border-top:5px solid #11016b;
}

.title{
	padding-left:30px;
	font-size:large;
	font-weight: bold;
	color: #11016b ;
}

.desc{
	padding-left:30px;
	padding-right:15px;
}




.hide-me{
	opacity: 0;
}

.last{
	opacity:0;
}